<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Nuevo doctor</h4>
                <h6 class="card-subtitle">Información</h6>
                <form class="form p-t-20" [formGroup]="form" (ngSubmit)="setDoctor()">
                    <div class="form-group row" *ngIf="id!=='new'">
                        <div class="col-sm-3 control-label">Foto</div>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <img [src]="doctor.img|showImg:'doctors'" alt="" class="w140">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre del doctor</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname"
                                placeholder="Nombre del doctor" formControlName="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Hospital</label>
                        <select class="form-control" formControlName="hospital">
                            <option [value]="hospital._id" *ngFor="let hospital of hospitals">
                                {{hospital.name}}
                            </option>
                        </select>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-inverse waves-effect waves-light m-r-10"
                            [routerLink]="['/dashboard/doctors']">Cancel</button>
                        <button type="submit" class="btn btn-success waves-effect waves-light"
                            [disabled]="form.invalid">Submit</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospital</h4>
                <h6 class="card-subtitle">{{selectedHospital?.name}}</h6>
                <img [src]="selectedHospital?.img|showImg:'hospitals'" alt="" class="w140">
            </div>
        </div>
    </div>
</div>